# Gradle
.gradle/
build/
**/build/

# Local config
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Kotlin/Java
*.class

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Signing keys
*.jks
*.keystore
key.properties

# NDK
.externalNativeBuild/
.cxx/

# Crashlytics / Firebase (optioneel)
google-services.json

*.bak